<div class="navbar navbar-fixed-bottom navbar-inverse">
  	<div class="navbar-inner">
		<ul class="nav">
			<li><button id="prevBtn"><i class="icon-step-backward"></i></button></li>
			<li><button id="playBtn"><i class="icon-play"></i></button></li>
			<li><button id="nextBtn"><i class="icon-step-forward"></i></button></li>
			<li><button id="muteBtn"><i class="icon-volume-off"></i></button></li>
			<div id="player"></div> 
		</ul>
	</div>
</div>