<div class="navbar navbar-fixed-bottom navbar-inverse">
  	<div class="navbar-inner">
		<div class="span6" style="float: none; margin: 0 auto;">
			<ul class="nav">
				<li><button id="prevBtn"><i class="icon-step-backward"></i></button></li>
				<li><div id="player"></div></li>
				<li><button id="nextBtn"><i class="icon-step-forward"></i></button></li>
			</ul>
		</div>
	</div>
</div>