<div class="navbar navbar-fixed-bottom navbar-inverse">
  	<div class="navbar-inner">
  		<div class="container">
			<ul class="nav">
				<li><span id="prevBtn" class="player"><i class="icon-step-backward icon-4x"></i></span></li>
				<li><div id="player"></div></li>
				<li><span id="nextBtn" class="player"><i class="icon-step-forward icon-4x"></i></i></span></li>
			</ul>
		</div>
	</div>
</div>