<div id='displayControl'>

	<div class="container">

		<button id="addAllBtn" class="btn"><i class="icon-plus"></i> Add All</button>

		<button id="deleteAllBtn" class="btn"><i class="icon-trash"></i> Delete All</button>
	
		<a id="tweet" href="http://twitter.com/dunckr"><span class="icon-twitter icon-large pull-right"></span></a>

	</div>
</div>

<div class="container">

	<table id="displayTable" class="table">
	</table>
</div>