<button id="addAllBtn"><i class="icon-plus"></i> Add All</button>
<button id="deleteAllBtn"><i class="icon-trash"></i> Delete All</button>

<table id="displayTable" class="table table-striped table-bordered">

</table>