<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand span2" href="#">Shuffi</a>
      <ul class="nav">
        <li>
          
      <div class="controls">
        <div class="navbar-search input-append">
          <input id="searchBox" class="search-query" type="text" placeholder='e.g. chillstep mix' autofocus>

          <div class="btn-group">
            <button type="submit" class="btn btn-inverse"><i class="icon-search icon-white"></i></button>
            <a class="btn btn-primary btn-inverse" href="#"><i id="searchByIcon" class="icon-eye-open icon-white"></i></a>
            <a class="btn btn-primary btn-inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret icon-white"></span></a>
            <ul class="dropdown-menu">
              <li><span id="relevanceBtn" href=""><i class="icon-zoom-in"></i> Relevance</span></li>
              <li><span id="viewCountBtn"><i class="icon-eye-open"></i> View Count</span></li>
              <li><span id="publishedBtn"><i class="icon-time"></i> Published</span></li>
            </ul>
          </div>

        </div>
      </div>

        </li>
      </ul>
  	</div>
  </div>
</div>
